.frame-1,
.frame-1 * {
  box-sizing: border-box;
}
.frame-1 {
  background: #ffffff;
  border-radius: 16px;
  height: 1246px;
  position: relative;
  overflow: hidden;
}
.frame-5 {
  padding: 0px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 445px;
  position: absolute;
  left: -21px;
  top: -14px;
}
.frame-3 {
  padding: 0px 0px 0px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.flower-festival-1 {
  flex-shrink: 0;
  width: 130px;
  height: 130px;
  position: relative;
  object-fit: cover;
}
.frame-2 {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.search {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.menu {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-4 {
  margin: -10px 0 0 0;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 46px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 408px;
  position: relative;
}
.div {
  color: #000000;
  text-align: left;
  font-family: var(---font-family, "Pretendard-Regular", sans-serif);
  font-size: var(---font-size, 18px);
  letter-spacing: var(---letter-spacing, -0.02em);
  font-weight: var(---font-weight, 400);
  position: relative;
}
.rectangle-1 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 28px;
  width: 424px;
  height: 226px;
  position: absolute;
  left: 8px;
  top: 143px;
  object-fit: cover;
}
.div2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: center;
  width: 197px;
  height: 97px;
  position: absolute;
  left: 27px;
  top: 258px;
}
.frame-6 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div3 {
  color: #ffffff;
  text-align: left;
  font-family: var(--main-font-family, "Pretendard-Bold", sans-serif);
  font-size: var(--main-font-size, 36px);
  letter-spacing: var(--main-letter-spacing, -0.02em);
  font-weight: var(--main-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.div4 {
  color: #ffffff;
  text-align: left;
  font-family: var(---font-family, "Pretendard-Regular", sans-serif);
  font-size: var(---font-size, 18px);
  letter-spacing: var(---letter-spacing, -0.02em);
  font-weight: var(---font-weight, 400);
  position: relative;
  align-self: stretch;
}
._2025-03-29-2025-03-31 {
  color: #ffffff;
  text-align: right;
  font-family: var(---font-family, "Pretendard-Regular", sans-serif);
  font-size: var(---font-size, 18px);
  letter-spacing: var(---letter-spacing, -0.02em);
  font-weight: var(---font-weight, 400);
  position: relative;
  align-self: stretch;
}
.div5 {
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  row-gap: 16px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  width: 442px;
  height: 170px;
  position: absolute;
  left: 0px;
  top: 385px;
}
.frame-7 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 39.56px;
  position: relative;
}
.component-2 {
  align-self: stretch;
  flex-shrink: 0;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.image {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.div6 {
  color: #000000;
  text-align: center;
  font-family: var(---font-family, "Pretendard-Regular", sans-serif);
  font-size: var(---font-size, 18px);
  letter-spacing: var(---letter-spacing, -0.02em);
  font-weight: var(---font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-8 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 39.56px;
  position: relative;
}
.div7 {
  color: #000000;
  text-align: center;
  font-family: var(---font-family, "Pretendard-Regular", sans-serif);
  font-size: var(---font-size, 18px);
  letter-spacing: var(---letter-spacing, -0.02em);
  font-weight: var(---font-weight, 400);
  position: relative;
  width: 47px;
  height: 19px;
}
.frame-9 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 39.56px;
  position: relative;
}
.component-22 {
  align-self: stretch;
  flex-shrink: 0;
  height: 40px;
  position: relative;
}
.lotus {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: hidden;
}
.vector {
  width: 87.5%;
  height: 82.06%;
  position: absolute;
  right: 6.25%;
  left: 6.25%;
  bottom: 8.56%;
  top: 9.38%;
  overflow: visible;
}
.group {
  height: auto;
  position: absolute;
  left: 4.27px;
  top: 4.08px;
  overflow: visible;
}
.frame-10 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 39.56px;
  position: relative;
}
.frame-11 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 39.56px;
  position: relative;
}
.div8 {
  color: #000000;
  text-align: center;
  font-family: var(---font-family, "Pretendard-Regular", sans-serif);
  font-size: var(---font-size, 18px);
  letter-spacing: var(---letter-spacing, -0.02em);
  font-weight: var(---font-weight, 400);
  position: relative;
  width: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-12 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 39.56px;
  position: relative;
}
.image2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.frame-13 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 39.56px;
  position: relative;
}
.component-23 {
  align-self: stretch;
  flex-shrink: 0;
  height: 40px;
  position: relative;
  overflow: visible;
}
.frame-14 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 39.56px;
  position: relative;
}
.four-leaf-clover {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.div9 {
  color: #000000;
  text-align: center;
  font-family: var(---font-family, "Pretendard-Regular", sans-serif);
  font-size: var(---font-size, 18px);
  letter-spacing: var(---letter-spacing, -0.02em);
  font-weight: var(---font-weight, 400);
  position: relative;
  width: 48px;
}
.frame-15 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 39.56px;
  position: relative;
}
.maple-leaf {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.frame-16 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 39.56px;
  position: relative;
}
.component-24 {
  align-self: stretch;
  flex-shrink: 0;
  height: 40px;
  position: relative;
  overflow: visible;
}
.frame-132 {
  width: 1px;
  height: 1px;
  position: absolute;
  left: 59px;
  top: 489px;
  overflow: hidden;
}
.div10 {
  padding: 40px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 442px;
  height: 345px;
  position: absolute;
  left: 0px;
  top: 555px;
}
.frame-17 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 306px;
  position: relative;
}
.div11 {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.mz {
  color: #717171;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-19 {
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button {
  background: #ed87b0;
  border-radius: 40px;
  border-style: solid;
  border-color: #ed87b0;
  border-width: 2px;
  padding: 8px 24px 8px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 2px 2px 6px 4px rgba(35, 35, 35, 0.25);
}
.div12 {
  color: #ffffff;
  text-align: left;
  font-family: var(---font-family, "Pretendard-Regular", sans-serif);
  font-size: var(---font-size, 18px);
  letter-spacing: var(---letter-spacing, -0.02em);
  font-weight: var(---font-weight, 400);
  position: relative;
}
.button2 {
  background: #ffffff;
  border-radius: 40px;
  border-style: solid;
  border-color: #ed87b0;
  border-width: 2px;
  padding: 8px 24px 8px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 2px 2px 6px 4px rgba(35, 35, 35, 0.25);
}
.div13 {
  color: #ed87b0;
  text-align: left;
  font-family: var(---font-family, "Pretendard-Regular", sans-serif);
  font-size: var(---font-size, 18px);
  letter-spacing: var(---letter-spacing, -0.02em);
  font-weight: var(---font-weight, 400);
  position: relative;
}
.frame-20 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.card {
  background: #ffffff;
  border-radius: 24px;
  padding: 0px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 189px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(218, 218, 218, 0.25);
}
.rectangle-12 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 24px;
  align-self: stretch;
  flex-shrink: 0;
  height: 126px;
  position: relative;
  object-fit: cover;
}
.frame-82 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 220px;
  position: relative;
}
.div14 {
  color: #0e0e0e;
  text-align: left;
  font-family: var(---font-family, "Pretendard-Bold", sans-serif);
  font-size: var(---font-size, 18px);
  letter-spacing: var(---letter-spacing, -0.02em);
  font-weight: var(---font-weight, 700);
  position: relative;
  align-self: stretch;
}
.frame-21 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div15 {
  color: #0e0e0e;
  text-align: right;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 10px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  width: 167px;
}
._2024-10-07-2024-10-13 {
  color: #0e0e0e;
  text-align: right;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 10px;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: relative;
  width: 167px;
}
.frame-22 {
  padding: 32px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 440px;
  height: 345px;
  position: absolute;
  left: 0px;
  top: 930px;
}
.card2 {
  background: linear-gradient(to left, #ffffff, #ffffff);
  border-radius: 24px;
  padding: 0px 0px 20px 0px;
  flex-shrink: 0;
  width: 189px;
  height: 211px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.frame-83 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 220px;
  height: 61px;
  position: absolute;
  left: 0px;
  top: 294px;
}
.div16 {
  color: #ffffff;
  text-align: left;
  font-family: var(---font-family, "Pretendard-Bold", sans-serif);
  font-size: var(---font-size, 18px);
  letter-spacing: var(---letter-spacing, -0.02em);
  font-weight: var(---font-weight, 700);
  position: absolute;
  left: 7px;
  top: 138px;
  width: 200px;
}
.div17 {
  color: #ffffff;
  text-align: right;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 10px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 7px;
  top: 173px;
  width: 169px;
}
._2024-10-07-2024-10-132 {
  color: #ffffff;
  text-align: right;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 10px;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: absolute;
  left: 7px;
  top: 189px;
  width: 169px;
}
